@media screen and (min-width: 480px) {
    #projects {
      background-color: lightgreen;
    }
  }
  #body-section1{
    background-color:beige;
    padding: 20px;
    height:50vw;
  }
  #navbar{
    position:sticky;
      top: 0;
  
    background-color: #f4f4f4;
    padding: 20px;
  
    overflow-y: auto;
  }
  #projects{
    height:50vw;
    background-color: aqua;
  }
  .nav{
    padding:5px;
  }